@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <p>You are going to learn how to connect with GitHub</p>
    <p><img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" /></p>
</div>
